<% include partials/header.ejs %>

    <div class="text-muted">
      <div class="container">

        <div class="row">

          <% siteData.cards.forEach(function(card){ %>

            <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4" data-card-id="<%= card.id %>" data-card-category="<%= card.category %>">
              <div class="thumbnail" style="border: none;">
                <a href="#" onclick="showLightBox(<%= JSON.stringify(card) %>);">
                <img class="img-responsive img-rounded thumb-shadow" src="<%= card.smUrl %>" alt="<%= card.title %>">
                <div class="caption">
                  <p class="card-text"><%= card.title %></p>
                </div>
                </a>
              </div>
            </div>

          <% } ) %>

        </div>
      </div>
    </div>


<% include partials/footer.ejs %>
